/**
 * @description Main component for the recurring appointment module
 * @name tracRecurringEvent
 * @author Daniel Labonte, Traction on Demand
 * @date 2019-08-22
 */

.remove-label {
    margin-top: -18px;
}

.bg_white {
    /*background-color: lightgray;*/
}

.custom-button {
    border-radius: 0;
    border: none;
    padding: 0.7rem;
    width:100%;
}

.grey1 {
    background-color: #eeeeee;
    /*background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(230,230,230,1) 100%);*/
}
.grey2 {
    background-color: #dddddd;
    /*background: linear-gradient(0deg, rgba(245,245,245,1) 0%, rgba(230,230,230,1) 100%);*/
}