.radioButtonSize{
    width: 2em;
    height: 2em;
}
.boxTitle{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}
.slds-modal__content{
    overflow: initial;
}
.absouluteCenter{
    margin: auto;
    text-align: center;
}
.textLookLikeLink{
    text-decoration-line: underline;    
}
.ineligibleSection{
    font-size: 11px;
    line-height: 12px;
}
.truncateText{
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.disableDiv{
    pointer-events: none;
    opacity: 0.4;
}