.tableRow{
    border-collapse: separate;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-radius: 8px;
}

.tableRow:hover{
    background: #fef0e9;
}

.bold{
    font-weight: bold;
}