/**
 * @description Button Stateful
 * @name tracButtonStateful
 * @author Daniel Labonte, Traction on Demand
 * @date 2019-08-22
 */
.custom-button {
    border-radius: 0;
    border: none;
    padding: 0.3rem 1rem;
}