@keyframes slide-left {
  from {
    -webkit-transform: translateX(10);
    transform: translateX(10);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/*.marquee{
    animation:slide-left 20s linear 1s infinite;
    margin: 5px;
  }

.msgClass {
  font-size: 16px;
  color: red;
}*/