* {
    margin: 0px;
    padding: 0px
}

.thank-you-opt {
    text-align: center;
    padding: 30px 15px 40px;
    background: #fff;
    box-shadow: 0px 2px 3px rgba(132, 132, 132, 0.2);
    max-width: 800px;
    margin: 50px auto 50px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.thank-you-opt h3 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.15px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    margin: 15px 0 5px 0;
}

.thank-you-opt p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    margin-bottom: 15px;
    color: #000000
}

.thank-you-opt img,
.thank-you-opt .logo {
    max-width: 100px;
}

.thank-you-opt a {
    font-size: 14px;
    color: #004E7D;
    line-height: 21px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 15px;
    display: block;
}

html,
body {
    background: #FAFAFA
}

/* .c-body,
p,
div {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}
.c-template{
    background-color: #F2F2F2;
}
.c-header{
    padding-bottom: 1rem;
}
.logo{
    display: block; 
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    font-family: Helvetica, arial, sans-serif; 
    font-size: 16px; 
    max-width: 100% !important; 
    width: auto;
    height: 75px !important;
    margin:auto;
}
.msg-div{

    padding: 2rem;
}
.c-body {
    color: #272727;
    min-height:600px;
}

.c-body a {
    color: #306f95;
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

table.wrapper {
    width: 100% !important;
    table-layout: fixed;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

img.max-width {
    max-width: 100% !important;
}

@media screen and (max-width:650px) {
    table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
    }

    img.max-width {
        height: auto !important;
        max-width: 100% !important;
    }

    p {
        text-align: center;
        font-size: 100%;
        padding: 5px;
        line-height: 24px;
        font-size: 15px;
    }
} */