img.small{
    height: 175px;
    width: 175px;
    padding-left : 15px;
    object-fit: contain;
}

img.large{
    position: absolute;
    height: 500px;
    width: 500px;
    left: 15px;
}

.img-zoom-lens {
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 100px;
    height: 100px;
    
}