.pad {
    display: block;
    margin: 10px 0;    
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.slds-modal__content{
    overflow: auto;
}

.inLineLeft {
    display: inline-block;
    left:0;
    margin-left: 100px;
}
.centered {
    display: inline-block;
    text-align: center;
}
   
.inLineRight {
   display:inline-block;
   right:0;
   margin-right:15px;
}
.spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }