.slds-modal__content{
    
     overflow: initial;
    
    }

.inLineLeft, .inLineRight {
        display: inline-block;
        width: 300px;
}
    
.inLineRight {
    display:inline-block;
    position:absolute;
    right:0;
    margin-right:15px;
}

.transferTicket {
    background-color: #fafaf9;
    height: 100%;
}