@font-face {
  font-family: "Roboto";
  src: url("/sfsites/c/resource/RobotoFont/Roboto-Regular.ttf")
    format("TrueType");
}
.This {
  font-family: Roboto;
}
.headercls {
  position: absolute;
  width: 1442px;
  height: 81px;
  left: -2px;
  top: 0px;
}
.imageclass {
  margin: 2rem;
  margin-right: 0px;
  max-width: 130px;
  margin-left: 0px !important;
  margin-top: 1px;
  /* position: absolute;
  left: 0%;
  right: 64.74%;
  top: 16.59%;
  bottom: 0%;
  background: linear-gradient(
    0deg,
    #f26723 0%,
    #e35323 33.15%,
    #c61621 99.71%,
    #c61521 100%
  );*/
}
.headerText {
  float: right;
  margin: auto;
  margin-left: 10px;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 25px;
  margin-top: 10px;
  line-height: 29px;

  /*position: absolute;
  width: 348px;
  height: 28px;
  left: 480px;
  top: 26px;
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);*/
}
.slds-size_3-of-6 .imageclass {
  margin-left: 0px;
}