.sectionHeaderDiv{
    background: linear-gradient(0deg, #F8F9F9, #F8F9F9), #FAFAF9;
    border-radius: 3px 3px 0px 0px;
    font-size: 14px;
    line-height: 18px;
    padding-top: 18px;
    height: 50px;
    margin: auto;
}
.subtextClass{
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
}
.redText{
    color: var(--lwc-colorTextError,rgb(194, 57, 52));
}
.formattedTimeReadonly{
    padding-left: 0;
    border-color: transparent;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    display:inline;
}