/**
 * @description A single rule (or rule collection) that governs the repetition
 * @name tracRecurringEventRule
 * @author Daniel Labonte, Traction on Demand
 * @date 2019-08-22
 */
.remove-label {
    margin-top: -18px;
}

.custom-button {
    border-radius: 0;
    border: none;
    padding: 1rem;
    width:100%;
}

.top-right {
    position: absolute;
    right: 0px;
    top: -32px;
}

.grey {
    background-color: lightgray;
}