td {
    border-bottom: 1px solid #F26522; /* acv logo color */
}
tr:nth-child(odd) {
    background: #FEF0EA;
}
.slds-table thead th {
    /*background-color: #F26522; /* acv logo color */
    background-image: linear-gradient(#C1242D, #F26522);
    color: #fff;
    border-left: 1px solid #C1242D; /* acv logo color */
    text-align: center;
}
/* .button {
    background-color: #76a4ee; /* change to #f5c66e if going to make button lighter */
    /* background-image: linear-gradient(#428ccc, #5dd7e8); */
    /* padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    border-color: #76a4ee; /* #223f93 */
/* } */
/* .button:hover, .button:focus, .button:hover, .button:focus {
    background-color: #9ec8f8; /* #ED9B45; */
    /* background-image: linear-gradient(#223f93, #428ccc); */
/* } */
header.slds-modal__header {
    /*background-color: #C1242D; /* acv logo color */
    background-image: linear-gradient(#C1242D, #F26522);
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
header.slds-modal__header h2 {
    font-size: 26px;
}
.slds-p-around_medium h2 {
    color: #141414;
    font-size: 16px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.slds-input-has-icon_left-right .slds-input {
    border-color: #F26522 !important;
}
/* .button .slds-button {
    color: #fff !important; /* not working - need to figure out how to override the defaults from salesforce */
/* } */
.flexipageComponent .slds-card .slds-table .button .slds-button {
    /* fuck it */
    color: #fff !important;
}

/* 
#FEF0EA
#F26522
#E36B38
#C1242D
#dbdbdb
#e7a26a
#ED9B45
#f7b076
#c4eeff
#dff5fe
#393939
#b6b6b6
#004bd5
#4C8EFF
#343c9e
#c9c9c9

#223f93
#428ccc
#5dd7e8

#618FD9
*/

/* .slds-p-around_medium {
    background-color: #28367d;
    is there any way to outline the search box with one of these oranges? i don't like filling the whole area with a really dark color
} */