.padding {
    padding-left: 20px;
    padding-right:20px;
    padding-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.errorText {
    color: red;
}

.positiveText {
    color: green;
}

.bottomPadding {
    padding-bottom: 10px;
}

.topPadding {
    padding-top: 10px;
}

.buttonLeft {
    float: left;
}

.buttonRight {
    float: right;
}

.ACVaccentedButton {
    background-image: linear-gradient(#C1242D, #F26522);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-color: #C1242D;
    color: whitesmoke;
}

.ACVmutedButton {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-color: #C1242D;
}

.positionOneRightButton {
    height: 20px;
    float: left;
    margin: auto;
}

.positionOneLeftButton {
    height: 20px;
    float: right;
    margin: auto;
}

.positionTwoButtons {
    height: 20px;
    float: none;
    margin: auto;
}

.bottomBorder {
    border: 5px solid transparent;
    padding-bottom: 10px;
    border-image: linear-gradient(to right, #C1242D, #F26522);
    border-top: 0;
    border-image-slice: 50% 20%;
}

.finishText {
    color: green;
}