.greenLight{
    border-radius: 25px;
    /* green */
    position: static;
    width: 12px;
    height: 12px;
    left: 0px;
    top: 0px;
  
    /* green */
    background: #00A878;
  
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: center;
    margin: 4px 2px;
    display: inline-block;
  }
  .yellowLight{
    /* yellow */
    border-radius: 25px;
    position: static;
    width: 12px;
    height: 12px;
    left: 16px;
    top: 0px;
  
    /* #FFC000 */
  
    background: #FFC000;
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 1;
    align-self: center;
    margin: 4px 2px;
    display: inline-block;
  }
  .redLight{
    /* red */
    border-radius: 25px;
    position: static;
    width: 12px;
    height: 12px;
    left: 32px;
    top: 0px;
  
    /* Red */
  
    background: #FD4E4C;
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 2;
    align-self: center;
    margin: 4px 2px;
    display: inline-block;
  }
  .blueLight{
    /* blue */
    border-radius: 25px;
    position: static;
    width: 12px;
    height: 12px;
    left: 48px;
    top: 0px;
  
    /* Blue */
  
    background: linear-gradient(0deg, #05668D, #05668D);
  
    /* Inside Auto Layout */
  
    flex: none;
    order: 3;
    align-self: center;
    margin: 4px 2px;
    display: inline-block;
  }