.dirty-field {
    border: solid red 1px;
}

.size div {
    padding-left: 4px;
    padding-right: 4px;
}

tr:nth-child(odd) {
    background: #F5F5F5;
}

.slds-table thead th {
    /*background-color: #F26522; /* acv logo color */
    background: #d4d4d4;
}